body {
  padding: 0;
  margin: 0;
  position: relative;
  font-family: "Karla", sans-serif;
}

nav {
  height: 30px;
  background: beige;
  padding: 5px;
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
}
nav > h3 {
  margin: 0;
}

#blog-list {
  padding: 10px;
}

form {
  padding: 60px 10px 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: aqua;
  gap: 10px;
}

button {
  padding: 5px 15px;
  cursor: pointer;
}
